[submodule "mlr3mbo"]
	path = mlr3mbo
	url = git@github.com:sumny/mlr3mbo
[submodule "bbotk"]
	path = bbotk
	url = git@github.com:sumny/bbotk
[submodule "naszilla"]
	path = naszilla
	url = git@github.com:sumny/naszilla
[submodule "multi-obj-baselines"]
	path = multi-obj-baselines
	url = git@github.com:sumny/multi-obj-baselines
