[submodule "mlr3mbo"]
	path = mlr3mbo
	url = https://github.com/sumny/mlr3mbo.git
[submodule "bbotk"]
	path = bbotk
	url = https://github.com/sumny/bbotk.git
[submodule "naszilla"]
	path = naszilla
	url = https://github.com/sumny/naszilla.git
