[submodule "mlr3mbo"]
	path = mlr3mbo
	url = https://github.com/sumny/mlr3mbo.git
[submodule "bbotk"]
	path = bbotk
	url = https://github.com/sumny/bbotk.git
[submodule "naszilla"]
	path = naszilla
	url = https://github.com/sumny/naszilla.git
[submodule "model_compression"]
	path = model_compression
	url = https://github.com/pfistfl/model_compression
