backcall==0.2.0
certifi==2021.10.8
cycler==0.11.0
dataclasses==0.8
decorator==5.1.1
distlib==0.3.4
filelock==3.4.1
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
kiwisolver==1.3.1
matplotlib==3.3.4
numpy==1.19.5
ofa==0.1.0.post202203231606
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pipenv==2022.4.8
platformdirs==2.4.0
prompt-toolkit==3.0.29
ptyprocess==0.7.0
Pygments==2.11.2
pyparsing==3.0.8
python-dateutil==2.8.2
PyYAML==5.4.1
six==1.16.0
thop==0.0.31.post2005241907
torch==1.10.1
torchvision==0.11.2
tqdm==4.64.0
traitlets==4.3.3
typing-extensions==4.1.1
virtualenv==20.14.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
zipp==3.6.0
